
<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>


<body>


<nav class= 'navbar'>

<ul>
	<li><a href= '/'> home</a></li>
	<li><a href= '/about'> about</a></li>
	<li><a href= '/post'> post</a></li>
	<li><a href= 'login'>login<a></li>
</ul>

</nav>

<div class='main-container'> <%=yield%> </div>

<footer> @copyrights carlos 2018 </footer>
<script type="text/javascript" src= "javascript/main.js"></script>

</body>