.bg {
	background-color: violet;
	border: 2px green;
}
.wrapper {
	background-color: $midnight-blue;
	text-align: center;
	height: 400px;

}
.title {
	font-size: 50px;
	color: white;
}

.form-control{
	height: 30px;
	width: 200px;
}